/* universel select  */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* common related styles */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    margin-bottom: 20px;
}

.section-title {
    color: #131313;
    font-size: 2.3rem;
    font-weight: 700;
}

.text-light-gray {
    color: #727272;
    font-weight: 400;
    margin-bottom: 25px;
}

.main-padding-left {
    padding-left: 50px;
}

/* header styles  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 220px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.4rem;
    font-weight: 700;
}

ul {
    display: flex;

}

ul>li {
    list-style: none;
    margin-right: 30px;
}

ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
}

/* header styles end */

/* banner styles start  */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.banner-img {
    width: 100%;
    margin-top: 30px;
}

/* banner styles end  */

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}


/* team section styles */

.teams-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

/* .teams-img-container img{
    width: 100%;
} */
.teams-content {
    padding-right: 60px;
    padding-left: 60px;
}

.teams-title {
    font-size: 2.5rem;

}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* team section styles end */

/* features section  */



/* features section end */

/* facts section  */
.facts-card-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 35px;
    text-align: center;
}
.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    /* text-align: center; */
}
.facts-card-container .card-title{
    color: #727272;
    font-weight: 600;
    margin-top: 5px;
    /* text-align: center; */
}
/* facts section end */
/* Our Sponsors section  style  */
.sponsors{
    text-align: center;
    margin-top: 100px;
}
.sponsors-img-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsors-img-container img{
    width: 10rem;
}

/* Our Sponsors section  end */

/* responsive styles  */

/* mobile device  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        padding-left: 10px;
    }

    .teams-content, .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 20px;
    }
}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .sponsors-img-container{
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-title {
        text-align: center;
    }
}