/* universel select  */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* common related styles */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    margin-bottom: 20px;
}
.text-light-gray {
    color: #727272;
    font-weight: 400;
    margin-bottom: 25px;
}

/* header styles  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 220px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.4rem;
    font-weight: 700;
}

ul {
    display: flex;

}

ul>li {
    list-style: none;
    margin-right: 30px;
}

ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
}

/* header styles end */

/* banner styles start  */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.banner-img{
    width: 100%;
    margin-top: 30px;
}
/* banner styles end  */

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}


/* feature section styles */

.teams-container{
    display: flex;
    align-items: center;
   
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-left: 50px;
}
/* .teams-img-container img{
    width: 100%;
} */
.teams-content{
    padding-right: 60px;
    padding-left: 60px;
}
.teams-title{
    font-size: 2.5rem;

}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
/* feature section styles end */


/* responsive styles  */

/* mobile device  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
        padding-left: 10px;
    }
    .teams-content{
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams-title{
        text-align: center;
    }
}